
body {
    max-width: 100vw;
    background-color: rgb(77, 111, 144);
    padding: 10px;
    border-radius: 5px;
    display: grid;
    grid-auto-rows: min-content;
    gap: 10px;
}


.panel {
    background-color: #cba3e8;
    padding: 30px;
    border-radius: 5px;
    /* heights: fit-content; */
}

main {  
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-auto-columns: 1fr;
    gap: 10px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "side-bar panel-1"
        "side-bar panel-2"
        "side-bar panel-3";
}

.side-bar { 
    grid-area: side-bar; 
    /* display: grid; */
    /* align-items: center; */
    height:auto;
}

.panel-1 { 
    grid-area: panel-1; 
}

.panel-2 {  
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "inner-panel-1 inner-panel-2";
    grid-area: panel-2;
}

button {
    height: min-content;
    padding: 10px;
    margin: 30px;
    border-radius: 5px;
}


.inner-panel-1 { 
    grid-area: inner-panel-1; 
}

.inner-panel-2 { 
    grid-area: inner-panel-2; 
}

.panel-3 { 
    grid-area: panel-3; 
}

footer {
    text-align: center;
}